[submodule "themes/journal"]
	path = themes/journal
	url = https://github.com/dashdashzako/hugo-journal.git
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/ZKTKZ/hugo-theme-console.git
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/datacobra/hugo-vitae.git
